<%- include("partials/header"); -%> 
<% arrOfPostContent.forEach(function(post) { %>
  <h1> <%= post.postName %>  </h1>
  <p> <%= post.postBody.substring(0, 100) + " ..." %> 
      <a href="/posts/<%=post._id%>" >Read More</a>
  </p>
<% }); %>  
<%- include("partials/footer"); -%> 